*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ccc;
}


ul li{
    color: red;
    font-size: 2rem;
    list-style: none;
    font-weight: bold;
}

li:first-child{
    color: blue !important;
}